*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  padding: 10px 0;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--color-background);
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.container-title img {
  max-width: 100%;
  display: block;
  width: 80px;
}

@media (max-height: 815px) {
  .container-title img {
    display: none;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 20px 20px 0 20px;
}

.container-arrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-arrow img {
  width: 30px;
  cursor: pointer;
}
.container-arrow button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}
.container-arrow button:hover {
  background: #999;
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 2rem;
  background: #323650;
  border-radius: 30px;
  color: white;
  position: relative;
}

.container-card ::after {
  content: '';
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 30px;
  filter: blur(1px);
  transform: translateZ(-1px);
  /*or z-index */
  animation: rgb 6s linear infinite;
  z-index: -1;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem 2rem 1rem 2rem;
  color: white;
  gap: 10px;
}

.info-description {
  text-align: center;
}

.info-description p:first-child {
  font-size: 2rem;
  font-weight: 700;
}

.info-description p:nth-child(2) {
  color: #ccc;
}

.container-card__info img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 2;
  background-color: #1c7fee;
}
.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.modal-header button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  background: #fff;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;
}

form input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form .btn-form {
  width: 100%;
  background-color: #5643c1;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
}
